
{{ define "main" }}
<article class="article main">
  <h1>{{ .Title }}</h1>
  <div class="meta">
      <p>
        <span class="meta-date">{{.Date.Format "2015-01-21"}}</span>
        |
        {{ range .Params.tags }} 
          <span class="meta-category">
            <a href="{{ "tags" | absURL }}/{{ . | urlize }}">{{ . }}</a>
          </span>
        {{ end }} 
      </p>
  </div>

  

  <img src="{{ .Params.featuredImg }}"  class="full-width" />
  {{ .Content }}
  <div class="prev-next-nav">
      {{ with .PrevInSection }}
        <a class="previous" href="{{.Permalink}}">Previous</a>
      {{ end }}
      {{ with .NextInSection }}
        <a class="next" href="{{.Permalink}}">Next</a>
      {{ end }}
  </div>
</article>
{{ end }}