{{ define "main" }} 

<link rel="stylesheet" href="/css/typography-art.css">

<div class="spacer"></div>
<div class="hello-world"><p>Hello World</p></div>
<div class="typography-sq">
  <div class="full"><p>Full</p></div>
  <div class="stack"><p>Stack</p></div>
  <div class="developer"><p>Developer</p></div>
  <div class="front-end"><p>Front-End</p></div>
  <div class="program"><p>Program</p></div>
  <div class="design"><p>Design</p></div>
  <div class="code"><p>Code</p></div>
  <div class="software"><p>Software</p></div>
  <div class="creative"><p>Creative</p></div>
  <div class="engineer"><p>En<span class="letter-g">g</span>ineer</p></div>
  <div class="image">
    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    viewBox="0 0 384 352" fill="rgb(136, 41, 49)" xml:space="preserve">
   <g>
     <g>
       <path d="M344,0H40C17.9,0,0,17.9,0,40v216c0,22.1,17.9,40,40,40h109.4L138,336h-26v16h160v-16h-26l-11.4-40H344
         c22.1,0,40-17.9,40-40V40C384,17.9,366.1,0,344,0z M154.6,336l11.4-40H218l11.4,40H154.6z M368,256c0,13.3-10.7,24-24,24H40
         c-13.3,0-24-10.7-24-24v-16h352V256z M368,224H16V40c0-13.3,10.7-24,24-24h304c13.3,0,24,10.7,24,24V224z"/>
     </g>
   </g>
   <g>
     <g>
       <rect x="133.7" y="120.1" transform="matrix(0.2751 -0.9614 0.9614 0.2751 15.9489 277.425)" width="116.4" height="16"/>
     </g>
   </g>
   <g>
     <g>
       <path d="M149.1,94.1l-10.2-12.3l-48,40c-3.4,2.8-3.9,7.9-1,11.3c0.3,0.4,0.6,0.7,1,1l48,40l10.2-12.3L108.5,128L149.1,94.1z"/>
     </g>
   </g>
   <g>
     <g>
       <path d="M294.1,122.9c-0.3-0.4-0.6-0.7-1-1l-48-40l-10.2,12.3l40.6,33.9l-40.6,33.9l10.2,12.3l48-40
         C296.5,131.3,297,126.3,294.1,122.9z"/>
     </g>
   </g>
   </svg> 
  </div><!-- /.image -->
</div><!-- /.typography-sq 
-->

<div class="page-content">
  {{ .Content }}
</div>

{{ end }}