@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css);
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700|Josefin+Slab:400,700");
.site-header, .site-header .site-nav-items, .site-footer .site-footer-items, .post-list .post-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; }

.site-header .site-nav-items, .site-footer .site-footer-items {
  list-style-type: none;
  padding: 0;
  margin: 0; }

* {
  box-sizing: border-box;
  transition-duration: 0.5s; }

.main {
  min-height: 80vh; }

body {
  background-image: url("/imgs/papers.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Josefin Sans", sans-serif;
  color: #f2f0ec;
  min-height: 100vh;
  min-width: 100vw; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Josefin Slab", serif; }

svg.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor; }

.article {
  background: #f2f0ec;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  color: #2d2d2d;
  padding: 0.5em;
  text-align: justify;
  min-height: 80vh;
  max-width: 750px;
  margin: 0 auto; }
  @media screen and (min-width: 400px) {
    .article {
      padding: 1em; } }
  @media screen and (min-width: 500px) {
    .article {
      padding: 2em; } }
  @media screen and (min-width: 750px) {
    .article {
      padding: 3em; } }

.site-header {
  background: #2d2d2d;
  text-align: center;
  min-height: 10vh; }
  .site-header .site-title {
    flex-basis: 100%;
    font-weight: 300; }
  .site-header .site-nav {
    flex-basis: 100%; }
  .site-header .site-nav-items li {
    font-size: 0.8em;
    flex: 1 0;
    padding: 0 2.5px 5px;
    border-width: 0 0 5px 0;
    border-style: solid; }
    .site-header .site-nav-items li:nth-of-type(1) {
      border-color: #66cccc; }
    .site-header .site-nav-items li:nth-of-type(2) {
      border-color: #99cc99; }
    .site-header .site-nav-items li:nth-of-type(3) {
      border-color: #ffcc66; }
    .site-header .site-nav-items li:nth-of-type(4) {
      border-color: #f99157; }
    .site-header .site-nav-items li:nth-of-type(5) {
      border-color: #f2777a; }
    .site-header .site-nav-items li:hover {
      border-bottom-width: 10px;
      padding-bottom: 0; }
    .site-header .site-nav-items li a {
      display: block;
      width: 100%; }
    @media screen and (min-width: 500px) {
      .site-header .site-nav-items li {
        font-size: 1em; } }
  .site-header a {
    color: #f2f0ec;
    text-decoration: none; }

.site-footer {
  background: #2d2d2d;
  text-align: center;
  padding: 25px 0;
  min-height: 10vh; }
  .site-footer .site-footer-items {
    justify-content: center; }
    .site-footer .site-footer-items li {
      padding: 10px; }
      .site-footer .site-footer-items li a {
        color: #f2f0ec;
        text-decoration: none; }

.about h3 {
  border-color: #2d2d2d;
  padding: 3px;
  border-width: 2px 0;
  border-style: solid; }
.about .hero {
  display: none; }
.about p {
  max-width: 750px;
  margin: 15px auto; }
  @media screen and (min-width: 500px) {
    .about p.p-fancy {
      position: relative;
      z-index: 2;
      padding: 3em 2.5em 1em 4.5em; }
      .about p.p-fancy::after {
        content: '';
        position: absolute;
        z-index: -1;
        top: 0px;
        left: 15px;
        width: 100px;
        height: 100px;
        border: solid 3px #adadad;
        clip-path: polygon(0 0, 0 110px, 40px 110px, 40px 40px, 110px 40px, 110px 0); } }

.post-list {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .post-list .post-item {
    align-items: flex-start;
    margin-bottom: 50px; }
    .post-list .post-item img {
      width: 100%; }
    .post-list .post-item div {
      padding: 10px 0; }
      .post-list .post-item div h2, .post-list .post-item div p {
        padding: 0;
        margin: 0; }
      .post-list .post-item div .post-meta {
        font-size: 0.8em;
        margin-bottom: 10px;
        border-bottom: 1px solid #2d2d2d; }
      .post-list .post-item div .post-title a {
        text-decoration: none;
        color: #2d2d2d; }
    @media screen and (min-width: 750px) {
      .post-list .post-item {
        flex-wrap: nowrap; }
        .post-list .post-item img {
          width: 35%;
          max-width: 250px;
          padding-right: 15px; }
        .post-list .post-item div {
          padding: 0; } }

/*# sourceMappingURL=styles.css.map */
