$black:         #2d2d2d;
$darkestgray:   #393939;
$darkgray:      #515151;
$gray:          #747369;
$lightgray:     #a09f93;
$lightestgray:  #d3d0c8;
$offwhite:      #e8e6df;
$white:         #f2f0ec; 

$red:           #f2777a;
$orange:        #f99157;
$yellow:        #ffcc66;
$green:         #99cc99;
$lightblue:     #66cccc;
$blue:          #6699cc;
$purple:        #cc99cc;
