.about {
  background: $white;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.5);
  color: $black;
  padding: 3em;
  text-align: justify;
  .hero {
    display: none;
  }
  p {
    max-width: 750px;
    margin: 15px auto;
    &.p-fancy {
      position: relative;
      z-index: 2;
      padding: 3em 4.5em 1em 4.5em;
      &::after {
        content: '';
        position: absolute;
        z-index: -1;
        top: 0px;
        left: 15px;
        width: 100px;
        height: 100px;
        border: solid 3px lighten($black, 50%);
        clip-path: polygon(0 0, 0 110px, 40px 110px, 40px 40px, 110px 40px, 110px 0);
      }
    }
  }
}