a {
  text-decoration: none;
  color: $link-color;
  &:hover {
    color: $link-hover-color
  }
}

.btn {
  display: inline-block;
  border: 2px solid $link-color;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 5px 5px 0 0;
  text-align: center;
  &:hover {
    border-color: $link-hover-color;
  }
  &-github {

  }
  &-codepen {

  }
  &-live {

  }
}