{{ define "main" }} 
<article class="article main">
  {{ .Content }}
  <ul class="post-list">
  {{ range .Data.Pages }}
    <li class="post-item">
        <img src="{{ .Params.featuredImg }}" />
      <div>
        <h2 class="post-title"><a href="{{.Permalink}}">{{.Title}}</a></h2>
        <p class="post-meta meta">{{.Date.Format "2006-01-02"}} | 
          {{ range .Params.technologies }} 
            <span class="meta-category">{{ . }}</span>
          {{ end }} 

        </p>
        <p>{{ .Params.Description }} <a href="{{.Permalink}}">Read More</a></p>
      </div>
    </li>
  {{ end }}
  </ul>
</article>

{{ end }}
